@import "./markdown-light.css";
@import "./markdown-dark.css";
@import "prismjs/themes/prism.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .symbol {
        font-family: theme('fontFamily.symbol'), serif;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        font-feature-settings: 'liga';
    }

    .markdown-content {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        word-wrap: break-word;
    }

    .markdown-content h1.title-text {
        margin-top: 24px;
        font-size: 2.3rem;
        font-weight: 700;
        padding-bottom: 0.5rem;
        line-height: 1.5;
    }

    .markdown-content div.post-date {
        font-size: 1rem;
        color: var(--color-text-secondary);
        margin-bottom: 30px;
    }

    .markdown-content h1:not(.title-text),
    .markdown-content h2 {
        line-height: 1.25;
    }

    .markdown-content h1:not(.title-text),
    .markdown-content h2,
    .markdown-content h3,
    .markdown-content h4,
    .markdown-content h5,
    .markdown-content h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 2;
    }

    .markdown-content p,
    .markdown-content blockquote,
    .markdown-content ul,
    .markdown-content ol,
    .markdown-content dl,
    .markdown-content table,
    .markdown-content pre,
    .markdown-content details {
        margin-top: 0;
        margin-bottom: 16px;
    }

    .markdown-content h1:not(.title-text) {
        font-size: 2rem;
        border-bottom: 1px solid var(--color-border);
    }

    .markdown-content h2 {
        font-size: 1.5rem;
        border-bottom: 1px solid var(--color-border);
    }

    .markdown-content p {
        margin: 16px 0;
    }

    .markdown-content pre {
        padding: 16px;
        overflow: auto;
        font-size: 80%;
        line-height: 1.45;
        background-color: var(--color-background-pre);
        border-radius: 6px;
        scrollbar-width: thin;
    }

    .markdown-content .code-group-tabs {
        margin-left: 0;
        margin-right: 0;
        border-radius: 6px 6px 0 0;
        background-color: var(--color-background-pre);
        position: relative;
        padding: 0 12px;
        overflow: auto hidden;
        border-bottom: 1px solid var(--color-border);
    }

    .markdown-content .code-group-tabs span {
        position: relative;
        padding: .75em 12px calc(.75em - 2px);
        line-height: 2.5rem;
        font-weight: 500;
        font-size: 90%;
        cursor: pointer;
        white-space: nowrap;
        transition: color .25s;
        color: var(--color-text-inactive);
    }

    .markdown-content .code-group-tabs span:hover,
    .markdown-content .code-group-tabs span.code-tab-active {
        color: var(--color-text);
    }

    .markdown-content .code-group-tabs span::after {
        position: absolute;
        right: 8px;
        bottom: -1px;
        left: 8px;
        height: 2px;
        content: "";
        background-color: transparent;
        transition: background-color .25s;
        z-index: 1;
    }

    .markdown-content .code-group-tabs span.code-tab-active::after {
        background-color: var(--color-text-link);
    }

    .markdown-content .code-group-blocks pre {
        border-radius: 0 0 6px 6px;
    }

    .markdown-content .code-group-block {
        display: none;
    }

    .markdown-content .code-group-block.code-block-active {
        display: block;
    }

    .markdown-content pre::-webkit-scrollbar {
        height: 8px;
        background-color: #f0f0f0;
    }

    .markdown-content pre::-webkit-scrollbar-thumb {
        background-color: #cdcdcd;
    }

    .markdown-content pre::-webkit-scrollbar-thumb:hover {
        background-color: #a6a6a6;
    }

    .markdown-content .code-container {
        position: relative;
    }

    .markdown-content .code-container span.lang-text {
        position: absolute;
        top: 2px;
        right: 6px;
        opacity: 40%;
        font-size: .75rem;
        text-transform: capitalize;
        transition: opacity 0.6s cubic-bezier(.06, .72, 0, 1.02);
        z-index: 2;
    }

    .markdown-content .code-container span.lang-text-static {
        position: absolute;
        top: 2px;
        right: 6px;
        opacity: 40%;
        font-size: .75rem;
        text-transform: capitalize;
        z-index: 2;
    }

    .markdown-content .code-container:hover span.lang-text {
        opacity: 0;
    }

    .markdown-content .code-container button.copy-content {
        position: absolute;
        top: 12px;
        right: 16px;
        width: 35px;
        height: 35px;
        font-family: theme('fontFamily.symbol'), serif;
        font-size: 1.25rem;
        border: 1px solid var(--color-border);
        border-radius: 4px;
        opacity: 0;
        background-color: var(--color-background-pre);
        transition: opacity 0.6s cubic-bezier(.06, .72, 0, 1.02);
        z-index: 3;
    }

    .markdown-content .code-container:hover button.copy-content {
        opacity: 100%;
    }

    .markdown-content a {
        color: var(--color-text-link);
        background-color: transparent;
        text-decoration: none;
    }

    .markdown-content a:hover {
        text-decoration: underline;
    }

    .markdown-content code:not([class~="prism"]) {
        padding: .2em .4em;
        margin: 0;
        font-size: 85%;
        font-weight: 400;
        white-space: break-spaces;
        background-color: var(--color-background-code);
        border-radius: 6px;
    }

    .markdown-content strong code {
        font-weight: 700 !important;
    }

    .markdown-content strong {
        font-weight: 700;
    }

    .markdown-content ul,
    .markdown-content ol {
        padding-left: 2em;
    }

    .markdown-content ul {
        list-style-type: disc;
    }

    .markdown-content ol {
        list-style-type: decimal;
    }

    .markdown-content ol ul,
    .markdown-content ul ul {
        list-style-type: circle;
    }

    .markdown-content ol ol,
    .markdown-content ul ol {
        list-style-type: lower-roman;
    }

    .markdown-content ul ul ul,
    .markdown-content ul ol ul,
    .markdown-content ol ul ul,
    .markdown-content ol ol ul {
        list-style-type: square;
    }

    .markdown-content ul ul ol,
    .markdown-content ul ol ol,
    .markdown-content ol ul ol,
    .markdown-content ol ol ol {
        list-style-type: lower-alpha;
    }

    .markdown-content .heading-link {
        float: left;
        margin-bottom: 0;
        padding-right: 4px;
        margin-left: -1em;
        opacity: 0;
        transition: opacity 0.6s cubic-bezier(0, 0, 0, 1.36);
    }

    .markdown-content .heading-link:hover {
        text-decoration: none;
    }

    .markdown-content h1:hover .heading-link,
    .markdown-content h2:hover .heading-link,
    .markdown-content h3:hover .heading-link,
    .markdown-content h4:hover .heading-link,
    .markdown-content h5:hover .heading-link,
    .markdown-content h6:hover .heading-link {
        opacity: 100%;
    }

    .markdown-content table {
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        border-collapse: collapse;
    }

    .markdown-content table th,
    .markdown-content table td {
        padding: 6px 13px;
        border: 1px solid var(--color-border);
    }

    .markdown-content table tr:nth-child(even) {
        background-color: var(--color-background-secondary);
    }

    .markdown-content td {
        text-align: left;
    }

    .markdown-content td[align="center"] {
        text-align: center;
    }

    .markdown-content td[align="right"] {
        text-align: right;
    }

    .markdown-content hr {
        padding: 0;
        margin: 24px 0;
        background-color: var(--color-border);
        border: 0;
        height: .15em;
    }

    .markdown-content blockquote {
        padding: 0 1em;
        color: var(--color-text-secondary);
        border-left: .25em solid var(--color-border);
    }

    .markdown-content img {
        max-width: 100%;
    }

    .markdown-content code[class~="prism"],
    .markdown-content pre[class~="prism"] {
        font-family: theme("fontFamily.mono"), monospace;
    }

    .markdown-content div[class^="block-container-"] {
        border: 1px solid transparent;
        border-radius: 8px;
        padding-left: 16px;
        padding-right: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .markdown-content div[class^="block-container-"] p.block-container-title {
        font-weight: 600;
    }

    .markdown-content div.block-container-info {
        background-color: var(--color-background-info);
    }

    .markdown-content div.block-container-tip {
        background-color: var(--color-background-tip);
    }

    .markdown-content div.block-container-warning {
        background-color: var(--color-background-warning);
    }

    .markdown-content div.block-container-danger {
        background-color: var(--color-background-danger);
    }

    .markdown-content li.task-list-item {
        list-style-type: none;
    }

    .markdown-content input[type="checkbox"] {
        margin: 0 .2em .25em -1.4em;
        vertical-align: middle;
    }

    .markdown-content > :last-child {
        margin-bottom: 0 !important;
    }
}

