@import "markdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root[class~="dark"] {
        --color-link: theme(colors.primary.600);
        --color-symbol: theme(colors.neutral.200);
    }
    :root:not([class~="dark"]) {
        --color-symbol: theme(colors.neutral.700);
        --color-link: theme(colors.primary.400);
    }
}

@layer components {
    .symbol {
        /* font-family: theme('fontFamily.symbol'), serif; TODO: replace with material symbols  */
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        font-feature-settings: "liga";
    }

    /* img {
        color: var(--color-symbol);
    } */

    #toc li a {
        @apply relative;
    }

    #toc li a::before {
        position: absolute;
        content: "";
        left: -0.75rem;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: transparent;
        transition: background-color 0.25s;
        z-index: 1;
    }

    #toc li li a::before {
        left: -1.5rem;
    }

    #toc li li li a::before {
        left: -2.25rem;
    }

    #toc li a[aria-current]::before {
        background-color: var(--color-link);
        border-radius: 2px;
    }
}
