@tailwind base;

@layer base {
    :root[class~="dark"] {
        --color-text: #fff;
        --color-text-link: theme("colors.primary.500");
        --color-text-inactive: theme("colors.neutral.500");
        --color-text-secondary: theme("colors.neutral.400");

        --color-border: theme("colors.neutral.500");

        --color-background-pre: theme("colors.dark.600");
        --color-background-code: theme("colors.dark.600");
        --color-background-secondary: theme("colors.dark.600");
        --color-background-info: theme("colors.neutral.700");
        --color-background-tip: theme("colors.primary.900");
        --color-background-warning: theme("colors.warning.200");
        --color-background-danger: theme("colors.danger.200");
    }
}
