@tailwind base;

@layer base {
    :root {
        --color-border: hsla(210, 18%, 87%, 1);
        --color-pre-background: #f6f6f7;
        --color-code-background: rgba(175, 184, 193, 0.2);
        --color-link-text: #0366d6;
        --color-background-secondary: #f6f8fa;
        --color-text-secondary: #656d76;
    }
}